body {
  background-color: antiquewhite;
}
.catalog-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
}
.card {
  background: white;
  padding: 15px;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.card:hover {
  transform: translateY(-5px);
  transition: 0.3s;
}
.price {
  font-weight: bold;
  color: #2c3e50;
}
.controls {
  margin-bottom: 20px;
}
button {
  background-color: blue;
  color: white;
  padding: 10px 15px;
  cursor: pointer;
  margin-right: 10px;
}
/* Modal Styles */
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  justify-content: center;
  align-items: center;
}
.modal-content {
  background: white;
  padding: 30px;
  border-radius: 10px;
  max-width: 400px;
  text-align: center;
}
/* mp3 */

.container3 {
  text-align: center;
}

.weather-card {
  background-color: lightslategrey;
  border-radius: 20px;
  padding: 20px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
  width: 450px;
  margin: auto;
}

.weather-card:hover {
  transform: scale(1.05);
}

#city-input {
  padding: 15px;
  margin: 10px 0;
  width: 70%;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

#city-input:focus {
  outline: none;
  border-color: #2196f3;
}

#city-input::placeholder {
  color: #aaa;
}

#city-input-btn {
  padding: 10px;
  background-color: #2196f3;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

#city-input-btn:hover {
  background-color: #1565c0;
}

#weather-info {
  display: none;
}

#weather-icon {
  width: 100px;
  height: 100px;
}

#temperature {
  font-size: 24px;
  font-weight: bold;
  margin: 8px 0;
}

#description {
  font-size: 18px;
  margin-bottom: 10px;
}

#wind-speed {
  font-size: 16px;
  color: rgb(255, 0, 0);
}

#date {
  font-size: 14px;
  color: rgb(255, 0, 0);
}
/* mp 4 */
input {
  padding: 10px;
  border: 1px grey solid;
  border-radius: 10px;
}
/* mp 6 */

.explorer-container {
  background: white;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  margin: auto;
}

.controls {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 25px;
}

input,
select {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
}

.card {
  text-align: center;
  border-top: 2px solid #eee;
  padding-top: 20px;
}

.card img {
  width: 100%;
  max-height: 150px;
  object-fit: cover;
  border-radius: 5px;
  margin-bottom: 15px;
  border: 1px solid #f0f0f0;
}

.hidden {
  display: none;
}
